/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #fff!important;
  font-weight: 900;
  background-color: rgb(0, 18, 119);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

h1 {
  font-size:35px;
  color:#000141
}


.bg-white{
  background-color: #0006ff!important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.text-dark {
  color: #fff!important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#main {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}

.div-table {
  border: 3px groove rgb(33, 176, 243);
  padding:0 3%;
  background-color: rgb(119, 212, 255);
  border-radius: 10px;
  max-width:1000px;
	width:90%;
  margin:20 auto;
}

.div-table .col-izq
{
	display:inline-block;
	vertical-align:top;
	width:50%;
	text-align: justify;
  padding-top: 15px;
}
.div-table .col-der
{
	display:inline-block;
	vertical-align:top;
	width:49%;
  padding-top: 20px;
}
.div-table .col-der .imagen
{
	max-width:99%;
  margin-left: auto;
  display: block;
  text-align: center;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#titulos{
  font-weight: 700;
  font-size: 20px;

}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

table{
  color: black!important;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
  margin-top: 0px;
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(55, 192, 255);
  color: black;
}
.footer {
  padding: 5px;
  text-align: center;
  color: #fff!important;
  position: absolute;
  width: 100%;
  bottom: 0;
  white-space: nowrap;
  line-height: 10px; /* Vertically center the text there */
  background-color: rgb(17, 24, 63);
}
