@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
 <header>
                    <h1 style="font-size:35px;color:#0006ff">Bienvenido al admistrador de Mascota Feliz</h1>
                    <br>
                </header>
                <div class="div-table">
                    <table id="main">
                        <h2>Nuestra Historia</h2>
                        <br>
                        <p>
                        Hoy en día, en muchos hogares, las mascotas se han convertido en un miembro más de la familia y como tales, es necesario garantizar su bienestar en todo sentido, especialmente en lo que a salud se refiere. La empresa “Mascota Feliz”, tiene dentro de su portafolio de servicios diversos beneficios para las mascotas afiliadas, entre ellos se encuentra el de visitas domiciliarias periódicas de promoción de la salud y prevención de la enfermedad, las cuales son realizadas por un médico veterinario, y que además son gratuitas para los perros y gatos afiliados a la empresa.
                        </p>
                        <p>
                            Mascota Feliz cuenta con un equipo de veterinarios que se encargan de realizar visitas a domicilio, durante las cuales se revisan las mascotas y se dan recomendaciones para prevenir enfermedades, mejorar la calidad de vida de los peludos o en caso de ser necesario (si la mascota se encuentra enferma) se realiza el diagnóstico y se formulan medicamentos.
                        </p>
                    </table>
                </div>
<div class="text-center">
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
